.container{
  left:10%;
  top:20%;
}
.container h1{
  font-size: 30px;
}
body{
    background: url('bg2.webp') no-repeat center center/cover;
}

.box input{
  background: none;
  width:60%;
  font-size: 12px;
}
